<div class="container">
					<div class="side-app">
						<div class="page-header">
							<h4 class="page-title">Collection</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Forms</a></li>
								<li class="breadcrumb-item active" aria-current="page">collection</li>
							</ol>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<form  method="post" class="card">
									<div class="card-header">
										<h3 class="card-title">New Collection</h3>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-8 col-lg-8 mb-4">
												<div class="form-group">
													<label class="form-label">Member ID</label>
													<input type="text" class="form-control" name="example-text-input" placeholder="Name">
													<!-- <input type="text" class="form-control is-invalid state-invalid" name="example-text-input" placeholder="Name">
													<div class="invalid-feedback">Name Can't be Blank..</div> -->
												</div>
											</div>
											<div class="col-md-4 col-lg-4 mb-4">
												<div class="form-group">
													<label class="form-label">Member Name</label>
													<input type="text" class="form-control" name="example-text-input" placeholder="Name">
													<!-- <input type="text" class="form-control is-invalid state-invalid" name="example-text-input" placeholder="Name">
													<div class="invalid-feedback">Name Can't be Blank..</div> -->
												</div>
											</div>
											<div class="col-md-4 col-lg-4 mb-4">
												<div class="form-group">
													<label class="form-label">Date of Collection</label>
													<div class="row gutters-xs">
														<div class="col-5">
															<select name="user[month]" class="form-control custom-select">
																<option value="">Month</option>
																<option value="1">January</option>
																<option value="2">February</option>
																<option value="3">March</option>
																<option value="4">April</option>
																<option value="5">May</option>
																<option value="6">June</option>
																<option value="7">July</option>
																<option value="8">August</option>
																<option value="9">September</option>
																<option selected="selected" value="10">October</option>
																<option value="11">November</option>
																<option value="12">December</option>
															</select>
														</div>
														<div class="col-3">
															<select name="user[day]" class="form-control custom-select">
																<option value="">Day</option>
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
																<option value="5">5</option>
																<option value="6">6</option>
																<option value="7">7</option>
																<option value="8">8</option>
																<option value="9">9</option>
																<option value="10">10</option>
																<option value="11">11</option>
																<option value="12">12</option>
																<option value="13">13</option>
																<option value="14">14</option>
																<option value="15">15</option>
																<option value="16">16</option>
																<option value="17">17</option>
																<option value="18">18</option>
																<option value="19">19</option>
																<option value="20">20</option>
																<option value="21">21</option>
																<option selected="selected" value="22">22</option>
																<option value="23">23</option>
																<option value="24">24</option>
																<option value="25">25</option>
																<option value="26">26</option>
																<option value="27">27</option>
																<option value="28">28</option>
																<option value="29">29</option>
																<option value="30">30</option>
																<option value="31">31</option>
															</select>
														</div>
														<div class="col-4">
															<select name="user[year]" class="form-control custom-select">
																<option value="">Year</option>
																<option value="2030">2030</option>
																<option value="2029">2029</option>
																<option value="2028">2028</option>
																<option value="2027">2027</option>
																<option value="2026">2026</option>
																<option value="2025">2025</option>
																<option value="2024">2024</option>
																<option value="2023">2023</option>
																<option value="2022">2022</option>
																<option value="2021">2021</option>
																<option value="2020">2020</option>
																<option value="2019">2019</option>
																<option selected="selected" value="2018">2018</option>
																<option value="2017">2017</option>
																<option value="2016">2016</option>
																<option value="2015">2015</option>
																<option value="2014">2014</option>
																<option value="2013">2013</option>
																<option value="2012">2012</option>
																<option value="2011">2011</option>
																<option value="2010">2010</option>
																<option value="2009">2009</option>
																<option value="2008">2008</option>
																<option value="2007">2007</option>
																<option value="2006">2006</option>
																<option value="2005">2005</option>
																<option value="2004">2004</option>
																<option value="2003">2003</option>
																<option value="2002">2002</option>
																<option value="2001">2001</option>
																<option value="2000">2000</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-lg-4">
												<div class="form-group ">
													<div class="form-label">Time</div>
													<div class="custom-controls-stacked" style="display: inline-flex;">
														<label class="custom-control custom-radio mr-6">
															<input type="radio" class="custom-control-input" name="time" value="cow" checked>
															<span class="custom-control-label">Morning</span>
														</label>
														<label class="custom-control custom-radio">
															<input type="radio" class="custom-control-input" name="time" value="buffalo">
															<span class="custom-control-label">Evening</span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-lg-4">
												<div class="form-group ">
													<div class="form-label">Animal Type</div>
													<div class="custom-controls-stacked" style="display: inline-flex;">
														<label class="custom-control custom-radio mr-6">
															<input type="radio" class="custom-control-input" name="animal-type" value="cow" checked>
															<span class="custom-control-label">Cow</span>
														</label>
														<label class="custom-control custom-radio">
															<input type="radio" class="custom-control-input" name="animal-type" value="buffalo">
															<span class="custom-control-label">Buffalo</span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-lg-2 mb-4">
												<div class="form-group">
													<div class="form-group">
														<label class="form-label">SNF</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="SNF">
														<!-- <input type="text" class="form-control is-invalid state-invalid" name="example-text-input" placeholder="Name">
														<div class="invalid-feedback">Mobile Number Can't be Blank..</div> -->
													</div>
												</div>	
											</div>
											<div class="col-md-2 col-lg-2">
												<div class="form-group">
													<div class="form-group">
														<label class="form-label">FAT*</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="FAT">
													</div>
												</div>	
											</div>
											<div class="col-md-2 col-lg-2">
												<div class="form-group">
													<div class="form-group">
														<label class="form-label">DEGREE</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="DEGREE">
													</div>
												</div>	
											</div>
											<div class="col-md-2 col-lg-2">
												<div class="form-group">
													<div class="form-group">
														<label class="form-label">RATE*</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="RATE">
													</div>
												</div>	
											</div>
											<div class="col-md-2 col-lg-2">
												<div class="form-group">
													<div class="form-group">
														<label class="form-label">LITRE*</label>
														<input type="text" class="form-control" name="example-text-input" placeholder="LITRE">
													</div>
												</div>	
											</div>
										</div>
									</div>
									<div class="card-footer text-right">
										<div class="d-flex">
											<a href="javascript:void(0)" class="btn btn-link">Cancel</a>
											<button type="submit" class="btn btn-primary ml-auto">Create Collection</button>
										</div>
									</div>
								</form>
								<div class="page-header">
									<button type="button" class="btn btn-info"><i class="si si-list mr-2"></i>See Collections</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
